<main class="login-page">
    <section class="login-form-wrapper">
        <form class="login-form">
            <h1 class="login-form-title">Вход</h1>
            {{#each loginFields}}
                {{> input placeholder=placeholder id=id type=type}}
            {{/each}}
            {{> button text="Авторизоваться" modificator="primary" type="submit"}}
            <a class="login-form-registration-link" href="/signup">Нет аккаунта?</a>
        </form>
    </section>
</main>