.login-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-wrapper {
  width: 340px;
}

.login-form {
  border-radius: 13px;
  box-shadow: var(--shadow);
  padding: 32px 30px 42px;

  & .login-form-title {
    text-align: center;
    font-size: 1.25rem;
    color: var(--black);
    margin-bottom: 36px;
  }

  & .button {
    margin-top: 100px;
  }

  & .login-form-registration-link {
    margin-top: 15px;
    color: var(--primary);
    display: block;
    text-align: center;
  }
}
