/* stylelint-disable no-descending-specificity */
//@import 'variables/-colors.scss';

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;

  & .input-label {
    position: absolute;
    top: 15px;
    left: 7px;
    font-size: 1rem;
    color: var(--secondary-bg-l);
    height: 1rem;
    background: #fff;
    padding: 0 7px;
    transition: 0.15s ease-in-out;
    display: flex;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }

  & .input-input {
    border: 1px solid var(--secondary-l);
    padding: 14px 16px;
    border-radius: 13px;
    margin-bottom: 2px;
    transition: 0.1s ease-in border;
    cursor: pointer;

    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
      border-color: var(--secondary-m);
    }

    &:focus ~ .input-label,
    &:not(:placeholder-shown) ~ .input-label {
      top: -8px;
      left: 11px;
      font-size: 0.8rem;
      color: var(--secondary-m);
    }
  }

  & .input-error-message {
    visibility: hidden;
    opacity: 0;
    height: 13px;
    transition: 0.1s ease-in opacity;
    color: var(--error);
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 14px;
  }
}

.input-error {
  & .input-input {
    border-color: var(--error);
    color: var(--error);

    &:focus,
    &:hover,
    &:not(:placeholder-shown) {
      border-color: var(--error);
    }

    &:focus ~ .input-label,
    &:not(:placeholder-shown) ~ .input-label {
      color: var(--error);
    }
  }

  & .input-label {
    color: var(--error);
  }

  & .input-error-message {
    visibility: visible;
    opacity: 1;
  }
}
