{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "lower",
    "selector-class-pattern": null,
    "string-quotes": "single"
  },
  "ignoreFiles": [
    "dist/*",
    "node_modules/*"
  ]
}
