<main class="chats-page">
    <aside class="left-panel">
        <div class="search">
            <label>
                <input class="search-input" type="text" />
            </label>
        </div>
        <div class="users-list-container">
            <ul class="users-list">
                <li class="user">
                    <div class="user-img"></div>
                    <div class="user-user-info">
                        <div class="user-name">test</div>
                        <div class="user-last-message">test text boilerplate...coming soon...</div>
                    </div>
                    <div class="user-message-info">
                        <div class="user-last-time">12:34</div>
                        <div class="user-not-readed-messages">99</div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</main>
