<main class="profile-page">
    <nav class="profile-page-back">
        <a href="/" class="profile-page-link">
            <div class="profile-page-back-icon">
                <div class="profile-page-back-arrow"></div>
            </div>
        </a>
    </nav>
    <section class="profile-info-wrapper">
        <div class="profile-info">
            <div class="profile-info-picture">
                {{> photo src=img}}
            </div>
            <div class="profile-info-name">{{name}}</div>
            <ul class="profile-info-info-list">
                {{#each profileInfo}}
                    <li class="profile-info-item">
                        <label class="profile-info-label">{{label}}</label>
                        <label>
                            <input class="profile-info-input" disabled type="text" value="{{value}}" />
                        </label>
                    </li>
                {{/each}}
            </ul>
            <ul class="profile-info-change-info">
                <li class="profile-info-item">
                    <a class="profile-info-item-link" href="/edit">Изменить данные</a>
                </li>
                <li class="profile-info-item">
                    <a class="profile-info-item-link" href="#">Изменить пароль</a>
                </li>
                <li class="profile-info-item profile-info-item-error">
                    <a class="profile-info-item-link" href="#">Выйти</a>
                </li>
            </ul>
        </div>
    </section>
</main>