@import '../../styles/utilities/colors';

@import '../../components/photo/photo';

.profile-page {
  height: 100%;
  display: flex;

  & .profile-page-back {
    width: 70px;
    height: 100%;
    background: var(--secondary-bg-l);
    border-right: 1px solid var(--secondary-s-l);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out background;

    & .profile-page-back-icon {
      width: 28px;
      height: 28px;
      background: var(--primary);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & .profile-page-back-arrow {
        width: 11px;
        height: 10px;
        background-image: url('/static/images/arrow_back.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &:hover {
      background: var(--secondary-bg-el);
    }
  }

  & .profile-info-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    & .profile-info-picture {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    & .profile-info-name {
      text-align: center;
      font-weight: 500;
      margin-bottom: 60px;
    }

    & .profile-info {
      width: 500px;
    }

    & .profile-info-info-list {
      margin-bottom: 60px;

      & .profile-info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid var(--secondary-s-l);

        & .profile-info-label {
          font-size: 0.8125rem;
        }

        & .profile-info-input {
          background-color: #fff;
          text-align: end;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    & .profile-info-change-info .profile-info-item {
      border-bottom: 1px solid var(--secondary-s-l);
      padding: 10px 0;
      color: var(--primary);

      &:last-child {
        border-bottom: none;
      }

      & .profile-info-item-link {
        color: var(--primary);
      }
    }

    & .profile-info-change-info .profile-info-item_danger {
      & .profile-info-item-link {
        color: var(--error);
      }
    }
  }
}
