:root {
  --primary: #2f80ed;
  --primary-h: #296ecc;
  --primary-f: #1e57a4;
  --primary-d: #72aeff;
  --secondary-l: #f1f1f1;
  --secondary-bg-l: #fbfbfb;
  --secondary-bg-el: #eaeaea;
  --secondary-s-s: #e0e0e0;
  --secondary-s-l: #eaeaea;
  --secondary-t-l: #a3a3a3;
  --secondary-m: #bdbdbd;
  --error: #eb5757;
  --black: #5f5f5f;
  --white: #ffffff;
  --shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}
