<main class="flex justify-around m-">
    <section class="w-340">
        <form class="signup-form flex flex-col gap-3 items-center">
            <h1 class="signup-form-title">500</h1>
            <h2 class="signup-form-title">Мы уже фиксим</h2>
            {{> button text="Назад к чатам" modificator="primary" type="submit" action="/" }}
        </form>
    </section>
</main>
