@import url('utilities/colors.css');

// TODO: check stylelint tailwind at rule policy and styles import on prod version
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: normal;
  overflow-x: hidden;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.signup-form {
  border-radius: 13px;
  box-shadow: var(--shadow);
  padding: 32px 30px 42px;

  &.signup-form-title {
    text-align: center;
    font-size: 1.25rem;
    color: var(--black);
    margin-bottom: 36px;
  }

  &.button {
    margin-top: 100px;
  }

  &.signup-form-registration-link {
    margin-top: 15px;
    color: var(--primary);
    display: block;
    text-align: center;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  & .input-label {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 1rem;
    color: var(--secondary-t-l);
    height: 2rem;
    background: #fff;
    padding: 0 7px;
    transition: 0.15s ease-in-out;
    display: flex;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
  }

  & .input-input {
    border: 1px solid var(--secondary-l);
    padding: 14px 16px;
    border-radius: 13px;
    margin-bottom: 2px;
    transition: 0.1s ease-in border;
    cursor: pointer;

    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
      border-color: var(--secondary-m);
    }

    &:focus ~ .input-label,
    &:not(:placeholder-shown) ~ .input-label {
      top: -15px;
      left: 11px;
      font-size: 0.8rem;
      color: var(--secondary-m);
    }
  }

  & .input-error-message {
    visibility: hidden;
    opacity: 0;
    height: 13px;
    transition: 0.1s ease-in opacity;
    color: var(--error);
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 14px;
  }
}

.input_error {
  & .input-input {
    border-color: var(--error);

    &:focus,
    &:not(:placeholder-shown) {
      border-color: var(--error);
    }

    &:focus ~ .input-label,
    &:not(:placeholder-shown) ~ .input-label {
      color: var(--error);
    }
  }

  & .input-label {
    color: var(--error);
  }

  & .input-error-message {
    visibility: visible;
    opacity: 1;
  }
}

.button_primary {
  padding: 15px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 13px;
  display: block;
  width: 100%;
  color: var(--white);
  background-color: var(--primary);
  transition: ease-in 0.1s;

  &:hover {
    background-color: var(--primary-h);
  }

  &:focus {
    background-color: var(--primary-f);
  }

  &:disabled {
    background-color: var(--primary-d);
  }
}

.login-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-wrapper {
  width: 340px;
}

.login-form {
  border-radius: 13px;
  box-shadow: var(--shadow-card);
  padding: 32px 30px 42px;

  & .login-form-title {
    text-align: center;
    font-size: 1.25rem;
    color: var(--black-l);
    margin-bottom: 36px;
  }

  & .button {
    margin-top: 100px;
  }

  & .login-form-registration-link {
    margin-top: 15px;
    color: var(--primary);
    display: block;
    text-align: center;
  }
}
