<div class="photo-wrapper">
    {{#if src}}
        <img src="{{src}}"  alt="user avatar"/>
    {{else}}
        <img src="./static/images/default_profile_image.png.png"  alt="default avatar"/>
    {{/if}}
    <div class="photo-change">Поменять аватар</div>
</div>
