<main class="flex justify-center items-center min-h-screen">
    <section class="w-340">
        <form class="signup-form">
            <h1 class="signup-form-title">Страница не найдена</h1>
            <a class="signup-form-registration-link flex justify-center mt-2" href="/">На главную</a>
        </form>
    </section>
</main>
